#task-panel {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  height: 100%;
  overflow: hidden;
  padding: 0.5rem;
}

/*.plan-pond {*/
/*  background-color: rgba(255, 235, 59, 1);*/
/*}*/

/*.ready-pond {*/
/*  background-color: rgba(255, 195, 0, 1);*/
/*}*/

/*.accept-pond {*/
/*  background-color: rgba(255, 141, 26, 1);*/
/*}*/

/*.bock-pond {*/
/*  background-color: rgba(42, 130, 228, 1);*/
/*}*/

/*.sauce-pond {*/
/*  background-color: rgba(172, 51, 193, 1);*/
/*}*/

/*.execute-pond {*/
/*  background-color: rgba(212, 48, 48, 1);*/
/*}*/

/*.finish-pond {*/
/*  background-color: rgba(67, 207, 124, 1);*/
/*}*/

