#analysis-panel {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.statistics-container {
  width: 35rem;
  /* border: 1px solid #E0E0E0; */
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 6px;
  overflow: auto;
}

.charts-container {
  flex: 1;
  /* border: 1px solid #E0E0E0; */
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 1rem;
  gap: 12px;
  border-radius: 6px;
}

.title-style {
  margin: 1rem;
  font-size: medium;
  font-weight: 700;
  display: inline-block;
}

.chart-style {
  font-size: medium;
  font-weight: 700;
  margin: 0 2rem 6px;
  display: inline-block;
}
